* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*body {
    background-color: #d9dcd6;
}
*/

.header {
    background-color: #2a607c;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    height: 700px
}

.header h1{
    font-size: 50px;
    
}

.seo {
    color: #d9dcd6
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
    /* list type none and display making 3 list items appear horizontal rather tha vertical*/
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: white;
    text-decoration: none; /*stops texts from being underline*/
}

.content{
    width: 75%;
    
}

.search-engine-optimization h2 {
    font-size: 25px;
}

.search-engine-optimization {
    background-color: steelblue;
    padding: 10px;
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 14px;
}

.online-reputation-management h2 {
    font-size: 25px;
}

.online-reputation-management {
    background-color: steelblue;
    padding: 10px; 
    margin: 10px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 14px;
}

.social-media-marketing h2 {
    font-size: 25px;
}

.social-media-marketing {
    background-color: steelblue;
    padding: 10px;
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 14px;
}

.benefits {
    width: 20%;
    background-color: steelblue;
    display: inline-block;
}
